.App {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.container {
  margin: auto;
  width: 500px;
  height: 500px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: large;
  text-align: center;
}

.formRow {
  margin: 25px 0
}

.sendButton {
  margin-left: 20px;
}
